.container {
  display: flex;
  justify-content: space-between;
}

.otp__input {
  outline: none;
  border: 0;
  width: 45px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  border-bottom: solid 2px #4f4f4f;
}
