.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 50px 122px;
  display: flex;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(38, 38, 38, 0.15);
}

.content {
  width: 466px;
  display: grid;
  margin: auto;
}

.content h1 {
  font-weight: 600;
  font-size: 48px;
  color: #061d28;
  margin-bottom: 40px;
}

.form button {
  width: 100%;
  height: 46px;
  border: 0;
  border-radius: 5px;
  background: var(--color-blue-2);
  color: #ffffff;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.form button:disabled {
  background: var(--color-blue-4);
}

.password__instruction {
  width: 466px;
  height: 112px;
  background: #f2f2f2;
  border-radius: 10px;
  margin-top: 40px;
  display: grid;
}

.password__instruction__content {
  margin-inline: auto;
  margin-left: 15px;
}

.password__instruction__content h6 {
  font-size: 16px;
  font-weight: 500px;
  color: #333333;
  margin-top: 13px;
}

.instruction__with__icon {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  margin-top: 16px;
}

.instruction__with__icon p {
  margin-left: 5.67px;
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
  align-items: flex-start;
  width: 319px;
  line-height: 150%;
}

@media screen and (max-width: 414px) {
  .container {
    all: unset;
    width: 100%;
    height: 100vh;
  }

  .content {
    padding: 50px 20px;
  }

  .password__instruction {
    width: 100%;
  }
}
